# Auth0 application with full Auth0 Management API access
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

# Nordigen https://ob.nordigen.com/
NORDIGEN_SECRET_ID=
NORDIGEN_SECRET_KEY=

# Cloudflare (Must have Account.Cloudflare Pages edit permissions)
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=

# Sentry (org:read, project:admin, project:read, project:releases, project:write, team:admin, team:read, team:write)
SENTRY_TOKEN=
SENTRY_ORGANISATION=
