.search {
  margin-bottom: var(--ant-padding-sm);
}

.list {
  :global {
    .ant-list-header {
      font-weight: 600;
      font-size: 20px;
      background-color: var(--ant-color-primary-bg);
      display: flex;
      justify-content: space-between;
    }
  }
  margin-bottom: var(--ant-padding-sm);
}

.description {
  font-size: var(--ant-font-size-sm);
  color: var(--ant-color-text-secondary);
  margin: var(--ant-padding-xs) 0 0 0;
}
