.nav-link {
    display: flex;
    align-items: center;
    > span {
        padding-left: var(--chakra-space-2);
    }

    &:hover {
        text-decoration: underline;
    }
}

.active {
    color: var(--chakra-colors-red-400);
}